* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
    font-size: 14px;
}

img {
    width: 100%;
}

:root {
    --primary-color: #ff434f;
    --second-color: #e3e3e3;
    --text-color-lightest: #e7e9ec;
    --text-color-darker: #2e2e2e;
    --text-color-dark: #494949;
    --text-color-gray: #8b8b8b;
    --text-color-dark-gray: #727272;
    --text-color-light-gray: #c6c6c6;
    --backdrop-color: rgba(42, 42, 42, 0.69)

}

header {
    width: 100vw;
    height: 80px;
    display: grid;
    padding: 0 40px;

    /**
    分为两列，一列占1/3，一列占2/3
    **/
    grid-template-columns: 1fr 2fr;
    align-items: center;

    position: relative;
    /**
      使header在轮播图之上
    **/
    z-index: 200;
}

header.sticky {
    position: fixed;
    background-color: white;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    animation: dropDown 0.5s ease-in-out forwards;
}

header.sticky .logo,
header.sticky nav a,
header.sticky nav i {
    color: var(--text-color-darker);
}

@keyframes dropDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color-lightest);
}

header nav {
    justify-self: end;
}

header nav i {
    color: var(--text-color-lightest);
}

header nav a {
    color: var(--text-color-lightest);
    text-decoration: none;
    margin: 0 24px;
}

header .burgur {
    display: none;
}

.glide {
    position: relative;
    top: -80px;
    z-index: 50;
}

.glide__slide img, .glide__slide video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.slide-caption {
    position: absolute;
    z-index: 70;
    color: var(--text-color-lightest);
    text-align: center;
    max-width: 60vw;
}

.glide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-caption h1 {
    font-size: 54px;
    font-weight: 600;
}

.slide-caption h3 {
    font-size: 24px;
    margin: 48px 0;
}

/**
    设置背景遮罩
**/
.backdrop {
    background-color: var(--backdrop-color);
    z-index: 60;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
}

.explore-btn {
    padding: 14px 32px;
    background-color: var(--primary-color);
    color: var(--text-color-lightest);
    border: 0;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

/**
 初始化文字为透明
**/
.slide-caption > * {
    opacity: 0;
}

/* 内容区域 */
/* 通用样式 */
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    display: grid;
    justify-items: center;
    max-width: 1180px;
    pad: 0 80px;
}

.section-bg {
    position: relative;
}

.section-bg::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    background-color: #f9fbfb;
    width: 100vw;
    height: 100%;
}

.title1 {
    font-size: 34px;
    color: var(--text-color-darker);
}

.title1::after {
    content: "";
    display: block;
    width: 80%;
    height: 4px;
    background-color: var(--primary-color);
    margin-top: 14px;
    transform: translateX(10%);
}

.intro {
    margin: 28px 0 60px 0;
    font-size: 18px;
    color: var(--text-color-dark-gray)
}

.about-us {
    padding-bottom: 32px;

}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 126px 126px;
    column-gap: 5vw;
}

.feature {
    display: grid;
    grid-template-areas: 
        "icon title"
        "icon content";
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 3fr;
}

.feature i.fas {
    grid-area: icon;
    font-size: 34px;
    color: var(--primary-color);
}

.feature-title {
    grid-area: title;
    font-size: 18px;
    color: var(--text-color-darker);
}

.feature-content {
    grid-area: content;
    color: var(--text-color-gray);
    font-size: 14px;
    margin-top: 8px;
}

/* 成功案例 */
.showcases {
    max-width: unset;
    padding: 0;
    padding-top: 72px;
}

.filter-btns {
    margin-top: 54px;
    margin-bottom: 38px;
}

.filter-btn {
    margin: 0 7px;
    background-color: var(--second-color);
    border: 0;
    color: var(--text-color-dark-gray);
    padding: 8px 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
}

/* 取消chrome浏览器下鼠标移动到、点击按钮时，按钮产生的边框 */
.filter-btn:focus,
.filter-btn:active {
    outline: none;
}

.filter-btn.active,
.filter-btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.showcases .cases {
    width: 100vw;
}

.showcases .case-item {
    width: 25vw;
    height: 20vw;
    overflow: hidden;
}

.case-item img {
    height: 100%;
    object-fit: cover;
}

.service {
    padding-top: 131px;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 38px;
    row-gap: 34px;
}

.service-item {
    display: grid;
    grid-template-areas: 
    "icon title"
    "icon content";
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 3fr;
    padding: 24px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
}

.service-item i.fas {
    grid-area: icon;
    font-size: 42px;
    color: var(--primary-color);
    padding-top: 6px;
}

.service-title {
    grid-area: title;
    font-size: 24px;
    color: var(--text-color-darker);
}

.service-content {
    grid-area: content;
    color: var(--text-color-gray);
    font-size: 16px;
    line-height: 30px;
    margin-top: 8px;
}

/* 团队介绍 */
.team-intro {
    margin-top: 48px;
    padding-top: 42px;
    padding-bottom: 52px;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    margin-top: 86px;
}

.team-member {
    background-color: white;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 28px;

    transition: 0.4s;

    display: grid;
    justify-items: center;
}

.profile-image {
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 264px;
    /* 自动等比例缩放 */
    object-fit: cover;
    /* 图片放大之后，按什么位置摆放 */
    object-position: top center;
}

.team-member .name {
    color: var(--text-color-dark);
    font-size: 18px;
    font-weight: 500;
    margin-top: 18px;
}

.team-member .position {
    color: var(--text-color-dark-gray);
    margin-top: 12px;
    margin-bottom: 18px;
}

.social-links {
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0 42px;
}

.social-links li {
    list-style: none;
}

.social-links li a {
    text-decoration: none;
    font-size: 20px;
    color: var(--text-color-dark);
}

.team-member:hover {
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.1);
}

/* 数据部分 */
.data-section {
    max-width: unset;
    width: 100vw;
    height: 255px;
    background-image: url(./images/adult-business-computer-contemporary-380769.jpg);
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 220px));
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
}

/* 遮罩层 */
.data-section::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--backdrop-color);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.data-piece {
    width: 250px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    color: white;
    position: relative;
    z-index: 40;
}

.data-piece i.fas {
    font-size: 44px;
}

.data-piece .data-num {
    margin-top: 7px;
    font-size: 41px;
    font-weight: 600;
}

.data-piece .data-desc {
    font-size: 18px;
    font-weight: 500;
}

/* 公司动态 */
.company-activities {
    padding: 86px 70px;
}

.activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}

.activity {
    display: grid;

    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);

    transition: 0.4s;

    padding: 24px;
} 

.activity:hover {
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.1);
}

.act-img-wrapper {
    height: 255px;
    overflow: hidden;
    margin: -24px;
    margin-bottom: 0;
}

.activity img {
    width: 100%;
    min-height: 300px;
    /* 自动等比例缩放 */
    object-fit: cover;
    /* 图片放大之后，按什么位置摆放 */
    object-position: top center;
}

.meta {
    display: grid;
    grid-template-areas: 
    "date comment"
    "title title"
    "article article";
    row-gap: 15px;
    margin-top: 20px;
}

.meta .date-published {
    grid-area: date;
    color: var(--text-color-light-gray);
    font-size: 10px;
}



.meta .comments {
    grid-area: comment;
    color: var(--text-color-light-gray);
    font-size: 10px;
}

.meta .act-title {
    grid-area: title;
    font-size: 18px;
    color: var(--text-color-dark);
}

.meta article {
    grid-area: article;
    line-height: 25px;
    color: var(--text-color-gray);
    font-size: 10px;
    letter-spacing: 0.54px;
}

.meta .read-more-btn {
    background-color: var(--primary-color);
    color: var(--text-color-lightest);
    border: 0;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    padding: 6px 5px;
    width: 50%;
}

footer {
    background-color: #181818;
    color: var(--text-color-lightest);
    display: grid;
    justify-items: center;
    
}

.footer-menus {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    width: 100%;
    max-width: 1180px;
    
}

.footer-menus li {
    list-style: none;
    padding-bottom: 8px;
}

.footer-menus li a {
    text-decoration: none;
    font-weight: 300;
    color: var(--text-color-lightest);
    font-size: 13px;
}

.footer-menus .contact-us {
    line-height: 20px;
    justify-self: left;
    color: var(--text-color-lightest);
}

.footer-menus .contact-us p:not(:first-child) {
    padding-top: 16px;
}

.footer-menus .menu-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

footer .icp-info {
    margin-top: 24px;
    margin-bottom: 16px;
}

footer .icpinfo, .rights {
    grid-column: 1 / -1;
    justify-self: center;

}

.scrollToTop {
    display: none;
    position: relative;
    z-index: 300;
}

.scrollToTop a {
    width: 32px;
    height: 32px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    bottom: 60px;
    right: 30px;

    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
}

.burger {
    display: none;
}

/* 响应式 */
@media (max-width: 1030px) {
    header nav {
        display: none;
    }

    header {
        grid-template-rows: 1fr 1fr;
    }

    header .burger {
        display: block;
        width: 20px;
        height: 6px;
        position: relative;
        justify-self: end;
    }

    .burger-line1,
    .burger-line2,
    .burger-line3 {
        width: 20px;
        height: 2px;
        background-color: var(--text-color-lightest);
    }

    .burger-line1 {
        position: absolute;
        top: -6px;
    }

    .burger-line3 {
        position: absolute;
        top: 6px;
    }

    /* 展开后的导航占满屏幕 */
    header.open nav{
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;

        background-color: white;
        
        display: grid;
        grid-auto-rows: max-content;
        justify-items: end;
        
        padding: 0 40px;

    }

    header.open nav>* {
        color: var(--text-color-darker);
    }

    header.open .logo {
        z-index: 40;
        color: var(--text-color-darker);
    }

    header.open .burger-line1, header.open .burger-line2, header.open .burger-line3 {
        background-color: var(--text-color-darker);
    }

}











